<!-- adding padding on y-axis, mt-auto is telling the footer to move to the bottom -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
            &copy; <!-- this is a copyright symbol -->
            YelpCamp 2023
        </span>
    </div>
</footer>